@page "/Dude"

<h1>Dudes!</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto,
  molestiae ea voluptatum dignissimos deserunt eveniet ipsam necessitatibus
  consequatur? Totam doloremque rem laborum in ad omnis ullam ratione quam
  reiciendis fugiat!
</p>
